.dropdown-animation-enter {
  opacity: 0;
  transform: translateY(50px);
}

.dropdown-animation-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition:
    opacity 300ms,
    transform 300ms;
}

.dropdown-animation-exit {
  opacity: 1;
  transform: translateY(0px);
}

.dropdown-animation-exit-active {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 300ms,
    transform 300ms;
}
